html {
	height : 100%;
}
body {
	min-height : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
}
.LoadingText {
	position : fixed;
	z-index : 100000;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	visibility : visible;
	text-align : center;
	font-family : Veranda, Helvetica, sans-serif;
	font-size : 33px;
	font-weight : bold;
	color : #770000;
	background-color: #FFFFFF;
}
.GeneratedByText {
	font-family : Arial, Tohama;
	font-weight : normal;
	font-size : 12px;
	line-height : 24pt;
	color : #AAAAAA;
	text-decoration : none;
}
.vcenter_outter {
	#position : relative;
	width : 100%;
	height : 100%; 
	display : table;
	overflow : hidden;
}
.vcenter_middle {
	#position : absolute;
	#left : 0%;
	#top : 50%;
	#width : 100%;
	display : table-cell; 
	vertical-align : middle;
}
.vcenter_inner {
	#position : relative;
	#top : -50%;
}
.elem {
	position : absolute;
	overflow : hidden;
}
.elem .bg, .elem .bd, .elem .fg {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 100%;
	height : 100%;
	border : 0px;
	overflow : hidden;
}
.elem .bg img {
	width : 100%;
	height : 100%;
}
.elem .table_cell {
	white-space : nowrap;
}
.elem .treeNodeText {
	padding : 3px;
}
.elem .fakeLink {
	cursor : pointer;
}
.elem.clickable {
	cursor : pointer;
}
.toolbar {
	position : absolute;
	z-index : 99999;
	overflow : hidden;
}
.toolbar span {
	display : inline-block;
	margin : 2px;
}
.toolbar .button {
	border : 1px solid #aaaaaa;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
	border-radius : 6px;
	height : 24px;
	line-height : 24px;
	padding : 0px 5px;
	cursor : pointer;
	text-align : center;
	color : black;
}
.toolbar .button:hover {
	color : #990000;
	border : 1px outset white;
}
.toolbar .dockButtons {
	position : absolute;
	width : 24px;
	height : 24px;
}
.toolbar .dockButton {
	position : absolute;
	background-color : #bbbbbb;
	cursor : pointer;
	font-size : 1px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
	border-radius : 2px;
}
.toolbar .dockButton:hover {
	background-color : #ff7523;
}
.toolbar .hlDockButton {
	background-color : #ffaa78;
}
.toolbar .dockTop {
	left : 5px;
	top : 0px;
	width : 14px;
	height : 5px;
}
.toolbar .dockBottom {
	left : 5px;
	top : 19px;
	width : 14px;
	height : 5px;
}
.toolbar .dockLeft {
	left : 0px;
	top : 5px;
	width : 5px;
	height : 14px;
}
.toolbar .dockRight {
	left : 19px;
	top : 5px;
	width : 5px;
	height : 14px;
}
.rotate90Degrees {
	-webkit-transform : rotate(90deg);
	-moz-transform : rotate(90deg);
	-ms-transform : rotate(90deg);
	-o-transform : rotate(90deg);
	transform : rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.Matrix( M11=-1.836909530733566e-16, M12=-1, M21=1, M22=-1.836909530733566e-16, SizingMethod='auto expand');
	zoom: 1;
}
.pageIndicator {
	width : 70px;
	height : 24px;
	line-height : 24px;
	background-color : white;
	border : 1px solid #aaaaaa;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	border-radius : 4px;
	text-align : center;
}
.pageList span, .pageList a {
	color : #333333;
	font-family : Arial;
	font-size : 12px;
	text-decoration : none;
}
.pageList a:hover {
	text-decoration : underline;
}
.pageList ul {
	list-style-position : inside;
	margin: 10px 10px 10px 25px;
	padding-left: 5px;
}
.pageList li {
	white-space : nowrap;
}
.pageList span {
	cursor : default;
}
.pageList span.excluded {
	color : #777777;
}
.propertyList table {
	width : 100%;
	border : 1px solid #cccccc;
	background-color : #ffffff;
}
.propertyList td {
	border : 1px solid #cccccc;
	color : #333333;
	font-family : Arial;
	font-size : 12px;
}
.winFrame {
	position : absolute;
	z-index : 99999;
	background-color : #f2f2f2;
	border : 1px solid #cccccc;
	border-top : 0px;
	visibility : hidden;
	padding : 0px;
	display : none;
}
.winTitle {
	background : url("toolbar_hor.png") repeat-x;
	height : 20px;
	padding : 5px;
	color : #333333;
	font-family : Arial;
	font-size : 12px;
	font-weight : bold;
	cursor : move;
}
.winTitleClose {
	float : right;
	cursor : pointer;
	color : black;
}
.winTitleClose:hover {
	color : #990000;
}
.winClient {
	overflow : auto;
}
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top:-5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom:-5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; } 